
# set new names for parameters in job to give more descriptive names
# Job = in which job this parameter should be changed (job name or all)
# Parameter = original name (as in job.star file)
# Alias = new parameter name that should be displayed
submission:
  - HeadNode: hpcl8001
    SshCommand: "ssh -X"
    Environment: "module purge;module load intel/18.0.5;module load impi/2018.4;module load RELION/5.0.0NC;module load WARP/2.0.0dev29; source /fs/pool/pool-fbeck/projects/4TomoPipe/rel5Pipe/src/CryoBoost/.cbenv"
    CalusterStatus: sinfo
    Helpssh: c-wing-wiki.biochem.mpg.de/wiki/index.php/Ssh-keygen
    HelpConflict: "rmove relion/python from your .bashrc hpcl8 or global section"
local:
    Environment: "module purge; module load RELION/5.0.0; module load WARP/2.0.0dev29; module load IMOD; module load PYMOL; module load CISTEM "

aliases:
  - Job: all
    Parameter: qsubscript
    Alias: Submission Script
  - Job: all
    Parameter: qsub_extra1
    Alias: NrNodes 
  - Job: all
    Parameter: qsub_extra2
    Alias: MPIperNode
  - Job: all
    Parameter: qsub_extra3
    Alias: PartionName  
  - Job: all
    Parameter: qsub_extra4
    Alias: NrGPU
  - Job: all
    Parameter: qsub_extra5
    Alias: MemoryRAM  

# parameters have different names in header/mdoc than in Relion --> make compatible
# key = parameter name in header/mdoc file
# value = parameter name in config_aliases file (code uses that name directly to find the correct entry, avoids additional loops)

meta_data:

  header:
    - EER_number: eer grouping

  mdoc:
    - ImageSize: x dimensions
    - ImageSize: y dimensions
    - PixelSpacing: Pixel in A
    - Voltage: kV


# save the parameters that are exclusively based on the microscope used so they can automatically be filled in
# parameter-aliases are used for parameter names

microscopes:
  TitanKrios5:
    - flip_tiltseries_hand: "No"
  TitanKrios4:
    - flip_tiltseries_hand: "No"  
  TitanKrios3:
    - flip_tiltseries_hand: "Yes"

star_file:

  importmovies: importmovies/tilt_series.star
  motioncorr: motioncorr/corrected_tilt_series.star
  ctffind: ctffind/tilt_series_ctf.star
  analysetilts: feature_analysis/feature_analysis.star
  filtertilts: filtertilts/tiltseries_filtered.star
  aligntilts: aligntilts/aligned_tilt_series.star
  reconstructionsplit: reconstructionsplit/tomograms.star
  reconstructionfull: reconstructionfull/tomograms.star
  denoisetrain:   reconstruction/tomograms.star   #is not the result but the reconstruction is used as result   
  denoisepredict: denoise/denoised_tilt_series.star #maybe switch to reconstruction
  fsMotionAndCtf: fsMotionAndCtf/fs_motion_and_ctf.star
  aligntiltsWarp: aligntiltsWarp/aligned_tilt_series.star
  tsCtf: tsCtf/ts_ctf_tilt_series.star
  tsReconstruct: tsReconstruct/tomograms.star
  templatematching: templatematching/tomograms.star
  tmextractcand: tmextractcand/optimisation_set.star
  subtomoExtraction: subtomoExtraction/optimisation_set.star


computing:
  QueSize: 
      large: 5
      medium: 3
      small: 1
  p.hpcl8:
      NrGPU: 2
      NrCPU: 24
      RAM: 370G
      VRAM: 16G

  p.hpcl9:
      NrGPU: 4
      NrCPU: 72
      RAM: 970G
      VRAM: 48G

  p.hpcl93:
      NrGPU: 4
      NrCPU: 128
      RAM: 740G
      VRAM: 48G  
  
  local.hpcl58:
      NrGPU: 2
      NrCPU: 32
      RAM: 300G
      VRAM: 48G


  NODE-Sharing:
    CPU-PerGPU: 6
    ApplyTo:
     - p.hpcl9
     - p.hpcl93

  JOBTypes:
      CPU-MPI:
       - motioncorr
       - ctffind
      GPU-OneProcess: 
        - aligntiltsWarp
        - fsMotionAndCtf
        - tsCtf
        - tsReconstruct
        - templatematching
        - tmextractcand
      GPU-OneProcessOneGPU:
        - denoisetrain
        - denoisepredict
      GPU-ThreadsOneNode:      
        - filtertilts
      CPU-2MPIThreads:
        - reconstructionsplit
        - reconstructionfull
        - subtomoExtraction
      GPU-MultProcess:
        - aligntilts

  JOBMaxNodes:
        motioncorr:
         - 4          
  JOBsPerDevice: 
        fsMotionAndCtf:
           p.hpcl9: 4
           p.hpcl93: 4
           p.hpcl8: 2
           local.hpcl58*: 4
        aligntiltsWarp:
           p.hpcl9: 1
           p.hpcl93: 1
           p.hpcl8: 1
           local.hpcl58*: 4
        tsCtf:
           p.hpcl9: 4
           p.hpcl93: 4
           p.hpcl8: 2
           local.hpcl58*: 4 
        tsReconstruct:
           p.hpcl9: 4
           p.hpcl93: 4
           p.hpcl8: 2
           local.hpcl58*: 4
filepath: 
   removePatternFromPath: 'gpfs\\d{2}/lv\\d{2}/fileset\\d{2}' 